.navbar-default {
    border: 0;

    img {
        position: relative;
        top: -37px;
    }
}

ul.navbar-mobile-menu {
    text-align: center;
    display: none;

    li {
        font-family: $headings-font-family;
        font-size: $font-size-h3;
        margin-bottom: 20px;
    }
}

body.navbar-mobile-active {
    overflow: hidden;

    .navbar-mobile-hidden {
        display: none;
    }
    .navbar-header {
        min-height: 100vh;
    }
    .navbar-mobile-visible {
        display: block;
    }
}
