<title>
    {{#if title }}
        {{ title }}
    {{ else }}
        Inkomm - Противопожарни уреди и съоръжения в гр. Монтана
    {{/if }}
</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="{{#if description}}{{ description }}{{ else }}Фирма „Инкомм”ООД - гр. Монтана е създадена през 2002 г. Приемник е на фирма ЕТ „ИНКОМ” създадена през 1991 г. Специализирана е в дейности свързани с осигуряване на пожарната безопасност на обектите. {{/if }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/app.css">
<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
<meta itemprop="image" content="/img/header-background.png">
